<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <select class="form-select mt-1" id="departamentos">
            <option value="value">text</option>
        </select>
    </div>
    <div class="col-4"></div>
</div>