<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <select class="form-select mt-1" id="departamentos" onchange="selectDepa()">
        </select>
    </div>
    <div class="col-4"></div>
</div>

<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <select class="form-select mt-1" id="provincias" onchange="selectProv()">
        </select>
    </div>
    <div class="col-4"></div>
</div>

<div class="row mt-5">
    <div class="col-4"></div>
    <div class="col-4">
        <select class="form-select mt-1" id="distritos">
        </select>
    </div>
    <div class="col-4"></div>
</div>